section.section.pt-0.bg-light.search
  include ../breadcrumb/breadcrumb

  .layout
    form.form.search-form.search-form--lg
      .form-group
        input.form-control.form-control--search(type='text' placeholder='Строительство предприятия..')

    .search-results
      - var count = 0
      while count < 5
        - count++
        a.search-card.rounded.bg-white.border(href="")
          h5.search-card__title С учётом сложившейся.
          p.search-card__text Мы вынуждены отталкиваться от того, что граница обучения кадров предоставляет широкие возможности для дальнейших направлений развития. Принимая во внимание показатели успешности, высокотехнологичная концепция общественного уклада предопределяет высокую востребованность модели развития. В целом, конечно.
