.section.pb-lg-0.bg-light.info
  .layout
    .info__grid
      .info__grid-cell
        .info-module
          .info-module__media.info-module__media--picture.image-fit
            img(src="assets/img/content/company-building.jpg", alt="")

          .info-module__content.info-card.bg-white.rounded.shadow-lg
            .info-card__img
              img(src="assets/img/content/guarantee.svg" width="170" height="170" alt="")
            .info-card__body
              p.info-card__title
                span.info-card__title-num 20
                span.info-card__title-text лет гарантий
              p.info-card__text.mb-0 Адрес нашей компании не менялся в течении 20 лет!

        .info-module
          .info-module__media.info-module__media--map.map#info-map

          .info-module__content.info-span.bg-white.rounded.shadow-lg
            p.info-span__title Как к нам проехать
            .info-span__text
              p Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных

              p встреч и площадки для проведения деловых (и не только) мероприятий. В стоимость аренды уже включены: коммунальные многофункциональных офисных пространств в Москве. Рабочие места для комфортной работ
            button.btn.btn-primary.info-span__btn(type="button") Перезвоните мне

      .info__grid-cell
        .info-card.bg-white.rounded.shadow-lg
          .info-card__img
            img(src="assets/img/content/guarantee.svg" width="170" height="170" alt="")
          .info-card__body
            p.info-card__title
              span.info-card__title-num 20
              span.info-card__title-text лет гарантий
            p.info-card__text.mb-0 Адрес нашей компании не менялся в течении 20 лет!

        .info-span.bg-white.rounded.shadow-lg
          p.info-span__title Как к нам проехать
          .info-span__text
            p Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных

            p встреч и площадки для проведения деловых (и не только) мероприятий. В стоимость аренды уже включены: коммунальные многофункциональных офисных пространств в Москве. Рабочие места для комфортной работ
          button.btn.btn-primary.info-span__btn(type="button") Перезвоните мне
