extends ../layouts/default

block variables
  - var pageTitle = 'Главная'
  - var bodyClass = 'home-page'

block content
  include ../components/header/header
  main.content-wrapper
    //- include ../components/footer/footer
    //- include ../components/footer/footer
  include ../components/footer/footer
