.filesbar.bg-primary
  .layout
    .fileslist
      a.fileslist-link(href="" target="_blank")
        .fileslist-link__img
          img(src="assets/img/content/sheet.svg", alt="")
        .fileslist-link__body
          span.fileslist-link__title Скачать референт лист
          span.fileslist-link__text 120 реализованых промышденных объектов по всей РФ

      a.fileslist-link(href="" target="_blank")
        .fileslist-link__img
          img(src="assets/img/content/books.svg", alt="")
        .fileslist-link__body
          span.fileslist-link__title Скачать презентацию о компании
          span.fileslist-link__text Узнайте больше о старейшей проектной компании на рынке России
