-
  var objects = [
    {
      img: "object-1.jpg",
      title: "Химические<br>заводы",
    },
    {
      img: "object-2.jpg",
      title: "Пищевые<br>предприятия",
    },
    {
      img: "object-3.jpg",
      title: "логистические<br>комплексы",
    },
    {
      img: "object-4.jpg",
      title: "Индустриальные<br>предприятия",
    },
    {
      img: "object-5.jpg",
      title: "Сельскохозяйственные<br>предприятия",
    },
    {
      img: "object-6.jpg",
      title: "Административные<br>здания",
    },
    {
      img: "object-7.jpg",
      title: "Бизнес-центры и<br>торговые центры",
    },
    {
      img: "object-8.jpg",
      title: "Промышленные<br>объекты",
    },
  ]
