-
  var objectTypes = [
    {
      img: "object-type-1.jpg",
      title: "Химические<br>заводы",
    },
    {
      img: "object-type-2.jpg",
      title: "Пищевые<br>предприятия",
    },
    {
      img: "object-type-3.jpg",
      title: "логистические<br>комплексы",
    },
    {
      img: "object-type-4.jpg",
      title: "Индустриальные<br>предприятия",
    },
    {
      img: "object-type-5.jpg",
      title: "Сельскохозяйственные<br>предприятия",
    },
    {
      img: "object-type-6.jpg",
      title: "Административные<br>здания",
    },
    {
      img: "object-type-7.jpg",
      title: "Бизнес-центры и<br>торговые центры",
    },
    {
      img: "object-type-8.jpg",
      title: "Промышленные<br>объекты",
    },
  ]
