include objects.data.pug

section.section.bg-secondary.text-white.object-types
  .layout
    header.section__header.object-types__header
      h2.section__title Типы объектов
      p.section__subtitle Проектируем, готовим проектную документацию, проходим экспертизу и разрешение на строительство

    .object-grid
      each card, index in objectTypes
        .object-card
          a.object-card__img.image-cutted(href="")
            img(src="assets/img/content/type/" + card.img, alt="")
          .object-card__body
            a(href="")
              h5.object-card__title!= card.title
            a.object-card__link.link-with-arrow(href="") Подробнее про объект
            p.object-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
