section.section.bg-secondary.object-types
  .layout
    header.section__header.object-types__header
      h2.section__title Наши объекты
      p.section__subtitle Проектируем, готовим проектную документацию, проходим экспертизу и разрешение на строительство

    .swiper-block.object-slider-wrapper.js-object-slider-wrapper
      .swiper-container.object-slider.js-object-slider
        .swiper-wrapper
          each item in [1,2,3,4,5]
            .swiper-slide.object-slide
              .object-card
                a.object-card__img.image-cutted(href="")
                  img(src=`assets/img/content/object/object-${item}.jpg`, alt="")
                .object-card__body
                  a(href="")
                    h5.object-card__title
                      | Завод МЕРСЕДЕС по производству авто

      .swiper-button-prev
        +icon('chevron-left')
      .swiper-button-next
        +icon('chevron-right')
