section.section.bg-secondary.form-banner.form-banner--law
  .layout
    .form-banner__inner.p-0.bg-transparent.text-white.shadow-none
      .form-banner__content
        header.form-banner__header
          h2.form-banner__title Законы 2021г<br>что важно знать!

        .form-banner__desc
          p Одними из наиболее популярных услуг на рынке IT-технологий являются создание и продвижение сайта. Они способны положительно влиять на деятельность любого бизнес-проекта в интернете. Судя по многочисленным отзывам, заказавшие создание и продвижение сайтов люди ни разу не пожалели о потраченных деньгах. Они вложили в будущее, которое неразрывно связано с интернетом.
          p Всё больше и больше предпринимателей обращаются к услугам разных агентств, веб-студий, чтобы заказать создание сайтов у профессионалов.

        .files.form-banner__files
          a.files-item(href="").text-white
            img.files-item__icon(src="assets/img/content/law.svg", width="44" height="60" alt="")
            span.files-item__title Закон №675323678
            span.files-item__action.underline Скачать

          a.files-item(href="").text-white
            img.files-item__icon(src="assets/img/content/law.svg", width="44" height="60" alt="")
            span.files-item__title Закон №675323678
            span.files-item__action.underline Скачать

          a.files-item(href="").text-white
            img.files-item__icon(src="assets/img/content/law.svg", width="44" height="60" alt="")
            span.files-item__title Закон №675323678
            span.files-item__action.underline Скачать

        a.btn.btn-primary.form-banner__btn(href="") Смотреть все законы

      .form-banner__aside
        .form-box.bg-white.text-body
          header.form-box__header
            h5.form-box__title Оставьте свои контакты для связи
            p.form-box__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod

          form.form.form-box__form
            .form-group
              input.form-control.bg-light(type='text' placeholder='Ваше имя')
            .form-group
              input.form-control.bg-light(type='email' placeholder='Ваш e-mail')
            .form-group
              input.form-control.bg-light(type='tel' placeholder='Ваш номер телефона')

            button.btn.btn-primary.btn-block.wpcf7-submit(type="submit") Отправить

