section.section.bg-light.form-banner
  .layout
    .form-banner__inner
      .form-banner__content
        h2.form-banner__title Выберите тип объекта
        .form-banner__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod

      .form-box
        .form-box__title Оставьте свои контакты для связи
        .form-box__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod

        form.form
          input#object-type(type="hidden", name="object-type")
          input#object-area(type="hidden", name="object-area")

          .form-group
            select.form-control#object-type-select
              option Индустриальные предприятия
              option Химические заводы
              option Сельскохозяйственные предприятия
              option Бизнес-центры и торговые центры
              option Логистические комплексы
              option Пищевые предприятия
              option Административные здания
              option Промышленные объекты
              option Спортивные сооружения

          .form-group
            select.form-control#object-area-select
              option 100 м2
              option 500 м2
              option 1000 м2
              option 5000 м2
              option 10000 м2

          .form-group
            input.form-control(type='text' placeholder='Ваше имя')
          .form-group
            input.form-control(type='email' placeholder='Ваш e-mail')
          .form-group
            input.form-control(type='tel' placeholder='Ваш номер телефона')

          button.btn.btn-primary.wpcf7-submit(type="submit") Отправить

