include footer.data.pug

footer.footer
  .footer__grid.layout
    .footer__grid-col.footer__aside
      a.logo.footer__logo(href="")
        img.logo__img(src="assets/img/general/logo.svg" width="251" height="80" alt="")

      ul.phonelist.footer__phonelist
        li.phonelist__item
          a.phonelist__link(href="") 8(800) 123 45-67
          span.phonelist__text Бесплатно из регионов РФ

        li.phonelist__item
          a.phonelist__link(href="") +7(495) 123 45-67
          span.phonelist__text г. Москва

      .footer__info
        p.footer__info-text.mb-0
          | Проектирование промышленных зданий и сооружений<br>
          | ООО Фирма “АРКОС”

        .footer__info-link www.arkos.proekt.ru
        a.accent-link(href="") Города проектирования
        a.underline.footer__policy.footer__policy--aside(href="") Политика конфиденциальности

      .footer__copyright.footer__copyright--aside © 2020 arkos.proekt.ru

    .footer__grid-col.footer__main
      .footer__main-col
        h2.footer__main-title О компании
        ul.footer-menu
          li
            a(href="") О нас
          li
            a(href="") История компании
          li
            a(href="") Наши проекты
          li
            a(href="") Цены
          li
            a(href="") Реквизиты
          li
            a(href="") Документация
          li
            a(href="") Новости
          li
            a(href="") Статьи

        ul.social.social--light.footer__social
          li.social__item
            a.social__link(href="")
              +icon('facebook')
          li.social__item
            a.social__link(href="")
              +icon('whatsapp')
          li.social__item
            a.social__link(href="")
              +icon('instagram')

      .footer__main-col
        h2.footer__main-title Услуги проектирования
        ul.footer-menu
          li
            a(href="") Пицевые производства
          li
            a(href="") Сельскохозяйственные производства
          li
            a(href="") Химические заводы
          li
            a(href="") Административные здания
          li
            a(href="") Складские здания
          li
            a(href="") Логистические комплексы
          li
            a(href="") Здания непищевой промышленности
          li
            a(href="") Индустриальные парки

        a.underline.footer__policy.footer__policy--main.mt-4(href="") Политика конфиденциальности

      .footer__main-col
        h2.footer__main-title Полезное
        ul.footer-menu
          li
            a(href="") Важное для заказчика
          li
            a(href="") Ответы на вопросы

        a.accent-link(href="") Наши контакты
        .map.footer__map#footer-map
        .footer__copyright.footer__copyright--main © 2020 arkos.proekt.ru
