/* ==========================================================================
   #TEXT UTILITIES
   ========================================================================== */

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

a.underline {

  @include on-event {
    text-decoration: none;
  }
}
