section.section.bg-secondary.text-white.stages
  .layout
    header.section__header.stages__header
      h2.section__title Этапы проектирования
      p.section__subtitle Проектируем, готовим проектную документацию, проходим экспертизу и разрешение на строительство

    ul.stages-list
      each item in [1,2,3,4,5,6,7,8,9]
        li.stages-item.rounded
          h5.stages-item__title Этап №#{item}
          .stages-item__text
            | Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки
