

section.section.py-0.bg-light.bg-img-triangles.price
  include ../breadcrumb/breadcrumb
  .layout
    .price-box.bg-white.rounded.shadow-lg
      h1.price-box__title Цены
      .price-box__text.content-zone
        p.
          Существуют различные способы оценки ориентировочной стоимости проекта . Многие
          руководствуются московскими и федеральными прейскурантами проектной документации‚
          однако, они, как правило, применимы при проектировании исключительно государственных
          бюджетных объектов. Стоимость проектных работ может значительно колебаться. Например,
          несколько раз больше, чем того же склада по «федеральному ценнику». Часто, за основу
          стоимости работ принимают стоимость 1 кв. м проектируемого здания или сооружения, что,
          безусловно, некорректно в разрезе уровня сложности объекта проектирования.

        p.
          Стоимость разработки основных блоков разделов проектной документации	согласно Постановлению Правительства РФ № 87 от 16.02.2008г. «О составе разделов проектной документации и требованиях к их содержанию»


      h2.price-box__subheading Как мы работаем?
      ul.decor-list.price-box__decor-list
        li Генеральный план предприятия и внутриплощадочных инженерных сетей от 4% до 8% стоимости проекта;
        li Архитектурно-строительные чертежи от 30% до 40% стоимости проекта;
        li Технологические решения от 10% до 15% стоимости проекта;
        li Инженерные разделы проекта от 30% до 40% стоимости проекта;
        li Специальные разделы проекта от 10% до 20% стоимости проекта;
