.banner-simple.bg-secondary.text-white
  p.banner-simple__text Проконсультируем и рассчитаем затраты на строительство объекта до заключения договора

  button.banner-simple__btn.btn.btn-primary(type="button") Получите расчет Вашего проекта
