.banner-quality.quality.quality--banner
  .quality__logos
    img.quality__logo(src="assets/img/content/certificate-haccp.png" width="151" height="147" alt="")
    img.quality__logo(src="assets/img/content/certificate-iso.png" width="151" height="147" alt="")
  .quality__text.
    Проектирование объектов пищевой промышленности ведется согласно требованиям HACCP (ХАССП), FSSC 22000:2013, а также согласно международному стандарту ISO 22000:2005 "Food safety management
    systems – Requirements for any organization in the food chain" и других требований ISO.
