-
  var clients = [
    'logo-svyaznoj.png',
    'logo-evroset.png',
    'logo-hoff.png',
    'logo-butik.png',
    'logo-linzmaster.png',
    'logo-korablik.png',
    'logo-sysoft.png',
    'logo-gett.png',
  ]

section.section.clients
  .layout
    .clients__grid
      .clients__main
        header.section__header.clients__header
          h2.section__title Наши известные клиенты
          p.section__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod

        .swiper-block.client-slider-wrapper.js-client-slider-wrapper
          .swiper-container.client-slider.js-client-slider
            .swiper-wrapper
              each slide in clients
                .swiper-slide.client-slide
                  img.client-slide__img(src="assets/img/content/client/" + slide, alt="")

          .swiper-button-prev
            +icon('chevron-left')
          .swiper-button-next
            +icon('chevron-right')

        button.btn.btn-primary.clients__order(type="button") Заказать услугу

      .clients__aside
        .seo-box.clients__seo
          h2.seo-box__title SEO - текст
          .seo-box__scroll.js-seo-content
            .seo-content
              p Одними из наиболее популярных услуг на рынке IT-технологий являются создание и продвижение сайта. Они способны положительно влиять на деятельность любого бизнес-проекта в интернете. Судя по многочисленным отзывам, заказавшие создание и продвижение сайтов люди ни разу не пожалели о потраченных деньгах. Они вложили в будущее, которое неразрывно связано с интернетом. Всё больше и больше предпринимателей обращаются к услугам разных агентств, веб-студий, чтобы заказать создание сайтов у профессионалов.

              h3 SEO - текст

              p Раскрутка и создание web-сайтов — для чего они нужны? По такому запросу в поисковиках «выскакивают» сотни вариантов с предложением создать и раскрутить веб-ресурс. Для любого предпринимателя или даже целой компании, которая Раскрутка и создание web-сайтов — для чего они нужны? По такому запросу в поисковиках «выскакивают» сотни вариантов с предложением создать и раскрутить веб-ресурс. Для любого предпринимателя или даже целой компании, которая Раскрутка и создание web-сайтов — для чего они нужны? По такому запросу в поисковиках «выскакивают» сотни вариантов с предложением создать и раскрутить веб-ресурс. Для любого предпринимателя или даже целой компании, которая

              p Одними из наиболее популярных услуг на рынке IT-технологий являются создание и продвижение сайта. Они способны положительно влиять на деятельность любого бизнес-проекта в интернете. Судя по многочисленным отзывам, заказавшие создание и продвижение сайтов люди ни разу не пожалели о потраченных деньгах. Они вложили в будущее, которое неразрывно связано с интернетом. Всё больше и больше предпринимателей обращаются к услугам разных агентств, веб-студий, чтобы заказать создание сайтов у профессионалов.
