section.section.pt-0.bg-light.no-page
  include ../breadcrumb/breadcrumb

  .layout
    .no-page__wrapper
      .no-page__content
        h1.no-page__title Страница отсутствует
        p.no-page__text Кажется такой страницы не существует, Вы можете поискать другую, перейдя на главную страницу
        a.no-page__link.btn.btn-primary(href="") Перейти на главную

      img.no-page__img.img-fluid(src="assets/img/content/404.png" width="607" height="353" alt="")
