.section.pt-0.bg-light.bg-img-triangles
  include ../breadcrumb/breadcrumb-narrow

  .layout.layout--narrow
    .post-wrapper
      .post__block.bg-white.rounded-lg
        header.post__header
          span.post__date 23.11.2020
          h1.post__title.mb-0 Гаражный кооператив библиотека, барбекю Maytoni

        .post__img.image-fit
          img(src="assets/img/content/post/img-1.jpg", alt="")
        .post__content.content-zone
          p Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий.
          p Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.
          p Лишь акционеры крупнейших компаний представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объективно рассмотрены соответствующими инстанциями. Диаграммы связей описаны максимально подробно. Вот вам яркий пример современных тенденций - убеждённость некоторых оппонентов однозначно определяет каждого участника как способного принимать собственные решения касаемо вывода текущих активов. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: существующая теория предопределяет высокую востребованность поэтапного и последовательного развития общества. Прежде всего, внедрение современных методик, а также свежий взгляд на привычные вещи.


      .post__footer
        .post__share.bg-white.rounded-lg.p-2

        .post-nav
          a.post-nav__link.post-nav__link--prev(href="")
            +icon('arrow-left').post-nav__link-icon
            span.post-nav__link-text Предыдущая новость
          a.post-nav__link.post-nav__link--next(href="")
            span.post-nav__link-text Следующая новость
            +icon('arrow-right').post-nav__link-icon
