-
  var news = [
    {
      title: 'Гаражный кооператив библиотека, барбекю Maytoni',
      img: 'img-1.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом. Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Новые сайты ставок бросают вызов классике',
      img: 'img-2.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Гаражный кооператив библиотека, барбекю Maytoni',
      img: 'img-3.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Новые сайты ставок бросают вызов классике',
      img: 'img-4.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Новые сайты ставок бросают вызов классике',
      img: 'img-5.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Гаражный кооператив библиотека, барбекю Maytoni',
      img: 'img-1.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Новые сайты ставок бросают вызов классике',
      img: 'img-2.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Гаражный кооператив библиотека, барбекю Maytoni',
      img: 'img-3.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Новые сайты ставок бросают вызов классике',
      img: 'img-4.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Новые сайты ставок бросают вызов классике',
      img: 'img-5.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Гаражный кооператив библиотека, барбекю Maytoni',
      img: 'img-1.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Новые сайты ставок бросают вызов классике',
      img: 'img-2.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
    {
      title: 'Гаражный кооператив библиотека, барбекю Maytoni',
      img: 'img-3.jpg',
      text: 'Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий. Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.',
    },
  ]
