-
  var services = [
    {
      img: "service-1.jpg",
      title: "Подбор земельных участков для строительства предприятия",
      text: "Оценка пригодности земельного участка для целей использования. Оценка возможности размещения планируемого объекта на участке в соответствии с требованиями санитарных норм.",
    },
    {
      img: "service-2.jpg",
      title: "Выполнение функции Заказчика",
      text: "Составление перечня необходимой исходно-разрешительной документации для данного объекта. Получение необходимой исходно-разрешительной документации",
    },
    {
      img: "service-3.jpg",
      title: "Разработка предпроектной документации",
      text: "Разработка градостроительного решения на отведенном участке. Разработка предварительных объёмно-планировочных и технологических решений.",
    },
    {
      img: "service-4.jpg",
      title: "Разработка и согласование архитектурного облика предприятия",
      text: "Разработка вариантов планировочных, конструктивных и градостроительных решений объекта. Разработка объёмных и цветовых решений фасадов",
    },
    {
      img: "service-5.jpg",
      title: "Разработка проектной документации стадии «Проектная документация»",
      text: "Формирование технического задания на разработку проекта и согласования его с заказчиком. Определение состава разделов проектной документации",
    },
    {
      img: "service-6.jpg",
      title: "Прохождение экспертизы и получение положительного заключения",
      text: "Формирование разработанных разделов проектной документации в составе и объёме, согласно постановлению Правительства РФ №87. Оформление согласно требованиям",
    },
    {
      img: "service-7.jpg",
      title: "Разработка проектной документации стадии «Рабочая документация»",
      text: "Уточнение в ходе проектирования строительных и инженерных решений.  Детальная проработка каждого раздела проекта. Возможность поэтапной выдачи",
    },
    {
      img: "service-8.jpg",
      title: "Консалтинг в подборе строительных конструкций и инженерного оборудования",
      text: "Обоснование выбора материалов строительных конструкций.  Информация о заводах-изготовителях строительных конструкций и материалов.",
    },
    {
      img: "service-9.jpg",
      title: "Авторский надзор за строительством",
      text: "Формирование журнала авторского надзора. Формирование списка специалистов, ведущих  авторский надзор за строительством. Контроль соответствия строительно-монтажных работ",
    },
    {
      img: "service-10.jpg",
      title: "Консультации для формирования бизнес-плана",
      text: "Помощь в выборе участка для строительства. Помощь в выборе оптимальных строительных и инженерных решений. Расчет, при необходимости, затрат на строительство.",
    },
    {
      img: "service-11.jpg",
      title: "Помощь в разработке тендерной документации на строительство",
      text: "Формирование технического задания. Подготовка необходимой для тендера проектной документации. Консультирование по вопросам критериев для выбора подрядной",
    },
    {
      img: "service-12.jpg",
      title: "Консультации для формирования бизнес-плана",
      text: "Помощь в выборе участка для строительства. Помощь в выборе оптимальных строительных и инженерных решений. Расчет, при необходимости, затрат на строительство.",
    },
  ]
