.section.pt-0.bg-light.bg-img-triangles.service
  include ../breadcrumb/breadcrumb

  .layout
    .service-wrapper.bg-white.rounded.shadow-lg
      .service-top
        .service-top__col
          h1.service__title.service-heading Подготовка площадки под строительство или здания под реконструкцию

          .service__desc.content-zone
            p Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: перспективное планирование создаёт предпосылки для кластеризации усилий. Не следует, однако, забывать, что граница обучения кадров требует определения и уточнения новых предложений. Также как разбавленное изрядной долей эмпатии, рациональное мышление позволяет выполнить важные задания по разработке модели развития. Имеется спорная точка зрения, гласящая примерно следующее: явные признаки победы институционализации, вне зависимости от их уровня, должны быть описаны.

        .service-top__col
          .service__img.image-fit
            img(src="assets/img/content/service/service-single.jpg", alt="")

      .service-bottom
        .service-bottom__col.service-bottom__col--first
          .service-bottom__block
            h2.service-heading Что делаем?
            .service__desc.content-zone
              p Являясь всего лишь частью общей картины, некоторые особенности внутренней политики указаны как претенденты на роль ключевых факторов! Предварительные выводы неутешительны.

          .service-bottom__block
            h2.service-heading Стоимость работ
            span.service__price от 15 000 000 руб.

        .service-bottom__col.service-bottom__col--last
          ul.service__features
            li Топосьемка участка
            li Проведение обследования конструкции
            li Инженерно экологические/геологические изыскания на площадке будущего строительства
            li Сокращение при необходимости санитарно-защитной зоны

      include ../banner/banner-simple
      include ../banner/banner-quality
