section.section.papers
  .layout
    header.section__header.papers__header.border-bottom
      h2.section__title Из чего состоит проектная<br>документация
      p.section__subtitle.
        Проект здания - это материализация бизнес-идеи заказчика с целью расчета функциональности,
        технических характеристик, эксплуатационных возможностей объекта, а также создание эстетики здания.

    .papers__grid
      .papers__grid-col.papers__grid-col--left.content-zone
        h3 Результат нашей работы для заказчика:
        ul
          li Детально проработанный проект здания;
          li Положительное заключение экспертизы;
          li Разрешение на строительство объекта.


      .papers__grid-col.papers__grid-col--right.content-zone
        h3 Что необходимо для разработки проектной документации:
        ul
          li Техническое задание на проектирование, составленное вместе с нашим специалистом;
          li Результаты инженерных изысканий (поможем найти подрядную организацию в Вашем регионе);
          li Градостроительный план земельного участка;
          li Технические условия на присоединение к инженерным сетям
