-
  var set = [
    {
      number: '6',
      title: 'Ошибок при выборе подрядчика',
    },
    {
      number: '5',
      title: 'Причин почему или чем мы отличаемся от других компаний',
    },
    {
      number: '2',
      title: 'Отдела контроля качества',
    },
    {
      number: '9',
      title: 'Лет на рынке проектирования строительства',
    },
    {
      number: '7',
      title: 'Вопросов, которыми чаще всего задаются Заказчики',
    },
  ]
