section.section.top-block.top-block--customer.pt-0(style="background-image: url(assets/img/bg/triangles.png), url(assets/img/bg/bg-customer.jpg);")
  include ../breadcrumb/breadcrumb

  .layout
    .top-block__inner
      .top-block__main
        h1.top-block__title Услуги
        .top-block__excerpt
          p Workki - сеть коворкингов бизнес-класса для работы, деловых встреч и мероприятий. Workki - это более 20 000 квадратных метров площади, 2 500 рабочих мест и более 6 000 довольных резидентов. Первая локация нашей сети была открыта в апреле 2017 года.

        .top-block__desc
          p Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий.
          p В стоимость аренды уже включены: коммунальные и эксплуатационные расходы, клининг, безлимитный Wi-Fi, печать документов, презентационное оборудование, административная и техническая поддержка, чай, кофе и вода, а также полное обустройство офиса.

      .top-block__aside
        figure.top-block__img.image-fit
          img(src="assets/img/content/top-block/top-customer.jpg", alt="")
