-
  var staff = [
    {
      img: 'architect.svg',
      text: 'Главный архитектор проекта,<br>ведущие архитекторы',
    },
    {
      img: 'heating-spec.svg',
      text: 'Специалисты по  отоплению,<br>вентиляции, кондиционированию',
    },
    {
      img: 'pipe.svg',
      text: 'Специалисты по водоснабжению<br>и канализациии',
    },
    {
      img: 'lamp.svg',
      text: 'Специалист слаботочных<br>сетей',
    },
    {
      img: 'compass.svg',
      text: 'Главный конструктор,<br>ведущие конструкторы',
    },
    {
      img: 'fireman.svg',
      text: 'Специалисты по<br>пожарной безопасности',
    },
    {
      img: 'master-plan.svg',
      text: 'Специалисты по<br>генплану',
    },
    {
      img: 'norm.svg',
      text: 'Специалисты по<br>нормоконтролю',
    },
    {
      img: 'electricity.svg',
      text: 'Специалист по<br>электрике',
    },
    {
      img: 'estimate.svg',
      text: 'Сметчик',
    },
    {
      img: 'technologist.svg',
      text: 'Инженер технолог',
    },
    {
      img: 'ecologist.svg',
      text: 'Специалист эколог',
    },
  ]

section.section.bg-light.staff
  .layout
    header.section__header.staff__header.border-bottom
      h2.section__title Над проектной документацией<br>работает команда
      p.section__subtitle Специалисты по каждому разделу штатные, работают в офисе.

    ul.staff-list
      each item in staff
        li.staff-item
          .staff-item__icon
            img(src="assets/img/content/staff/" + item.img, alt="")
          span.staff-item__text!= item.text

    .staff__content.content-zone
      h3 Состав проектной документации:
      ul
        li Пояснительная записка (ПЗ)
        li Схема планировочной организации земельного участка (ПЗУ)
        li Архитектурные решения (АР)
        li Конструктивные и объемно-планировочные решения (КР, КЖ)
        li Сведения об инженерном оборудовании, о сетях инженерно-технического обеспечения: электроснабжение, водоснабжение, водоотведение, отопление, вентиляция и кондиционирование, сети связи, газоснабжение и технологические решения.
        li Проект организации строительства (ПОС)
        li Проект организации работ по сносу или демонтажу объектов капитального строительства (ПОД)
        li Перечень мероприятий по охране окружающей среды (ООС)
        li Мероприятия по обеспечению пожарной безопасности (МПБ)
        li Мероприятия по обеспечению доступа инвалидов (ОДИ).
        li Мероприятия оп обеспечению энергетической эффективности
        li Смета на строительство
        li Мероприятия по обеспечению безопасной эксплуатации объектов капитального строительства (ТБЭ)
