.section.pt-0.bg-light.bg-img-triangles.type
  include ../breadcrumb/breadcrumb

  .layout
    .type-wrapper
      .type__main
        h1.section__title.type__title.text-uppercase Проектирование промышленных зданий и предприятий

        .type__content.content-zone
          p Разные промышленные отрасли нуждаются в производственных сооружениях, которые бы в кратчайшие сроки приносили бы положительный экономический эффект и были безопасны, красивы, эргономичны и комфортны.
          p Вы хотите, чтобы ваше предприятие заработало как можно раньше и начало приносить доход? ООО Фирма «Аркос» готова предложить лучшие решения по проектированию производств, возведенных индустриальным методом с использованием современных строительных технологий, по доставке материалов, по решению вопросов с транспортировкой материалов, конструкций, по установке оборудования и строительных конструкций.
          p Проектирование объектов производственного типа предполагает создание проекта большой производственной инфраструктуры, в которую входят как главные промышленные здания, так и вспомогательные сооружения, бытовые постройки, склады.

      .type__aside
        .type__img.image-fit
          img(src="assets/img/content/type/type-1.jpg", alt="")
