///* ==========================================================================
//   #COLOR-VARIABLES
//   ========================================================================== */

$color-darker: #000;
$color-dark: #222;
$color-brown: #caba9f;
$color-red: #f85050;


$color-body:        $color-darker !default;
$color-primary:     $color-brown !default;
$color-danger:      $color-red !default;
$color-placeholder: rgba($color-dark, 0.5) !default;


// $color-bg-warning:  $color-red !default;
// $color-bg-dark:     $color-blue-dark !default;
// $color-bg-light:    $color-grey !default;
// $color-bg-primary:  $color-brown !default;


// $color-border-primary:  $color-brown !default;


// $color-hover-primary: mix(#000000, $color-primary, 20%) !default;

$color-hr:  rgba(0, 0, 0, 0.1);
$color-selection: $color-body !default;
$color-bg-selection: $color-primary !default;
