include header.data.pug


header.header.js-header(class=(bodyClass == 'home-page') ? "header--transparent" : "")
  .header-bar.header__top
    .header__top-group.header__top-group--first
      a.header__logo.logo(href="")
        <svg class="logo__img" width="253" height="81" viewBox="0 0 253 81" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.4016 76.1568H10.3125V68.6482H6.65766V76.1568H3.5686V65.9568H13.4016V76.1568Z" fill="white"/>
        <path d="M21.5062 76.1568H18.4171V65.9568H23.8612C25.0132 65.9568 25.9104 66.2932 26.5527 66.9661C27.2051 67.6288 27.5314 68.4596 27.5314 69.4587C27.5314 70.4477 27.2051 71.2785 26.5527 71.9514C25.9104 72.6141 25.0132 72.9454 23.8612 72.9454H21.5062V76.1568ZM23.4636 70.2539C23.7389 70.2539 23.9632 70.1877 24.1365 70.0551C24.3098 69.9124 24.3964 69.7136 24.3964 69.4587C24.3964 69.1937 24.3098 68.9949 24.1365 68.8623C23.9632 68.7196 23.7389 68.6482 23.4636 68.6482H21.5062V70.2539H23.4636Z" fill="white"/>
        <path d="M40.9138 74.8722C39.8536 75.8509 38.5282 76.3403 36.9378 76.3403C35.3474 76.3403 34.017 75.8509 32.9465 74.8722C31.8863 73.8833 31.3561 72.6141 31.3561 71.0644C31.3561 69.5148 31.8863 68.2506 32.9465 67.2719C34.017 66.283 35.3474 65.7886 36.9378 65.7886C38.5282 65.7886 39.8536 66.283 40.9138 67.2719C41.9843 68.2506 42.5196 69.5148 42.5196 71.0644C42.5196 72.6141 41.9843 73.8833 40.9138 74.8722ZM35.1639 72.8842C35.6227 73.3736 36.214 73.6183 36.9378 73.6183C37.6617 73.6183 38.2479 73.3736 38.6965 72.8842C39.1552 72.3949 39.3846 71.7883 39.3846 71.0644C39.3846 70.3406 39.1552 69.734 38.6965 69.2446C38.2479 68.7553 37.6617 68.5106 36.9378 68.5106C36.214 68.5106 35.6227 68.7553 35.1639 69.2446C34.7153 69.734 34.4911 70.3406 34.4911 71.0644C34.4911 71.7883 34.7153 72.3949 35.1639 72.8842Z" fill="white"/>
        <path d="M54.7171 76.1568H46.9792V65.9568H54.7171V68.6482H50.0682V69.6575H54.6101V72.349H50.0682V73.4653H54.7171V76.1568Z" fill="white"/>
        <path d="M69.1639 76.1568H65.4019L63.1081 72.5631L62.5423 73.3277V76.1568H59.4532V65.9568H62.5423V69.7799L65.2184 65.9568H68.9956L65.142 70.6974L69.1639 76.1568Z" fill="white"/>
        <path d="M78.353 76.1568H75.264V68.6482H72.5266V65.9568H81.075V68.6482H78.353V76.1568Z" fill="white"/>
        <path d="M12.1962 46.0951L4.44243 60.009H16.4183L24.0251 46.0951H12.1962Z" fill="white"/>
        <path d="M24.0251 46.0951L58.2631 46.0952L40.9238 15.678L34.8257 26.4783L40.9238 35.8826H29.9031L24.0251 46.0951Z" fill="white"/>
        <path d="M115.758 37.225L113.349 30.2933H98.6988L96.2899 37.225H90.1447L102.632 2.81204H109.416L121.854 37.225H115.758ZM100.567 24.9838H111.481L106.024 9.44883L100.567 24.9838Z" fill="white"/>
        <path d="M138.238 2.81204C141.483 2.81204 144.187 3.89359 146.35 6.05669C148.546 8.21979 149.643 10.9073 149.643 14.1192C149.643 17.2983 148.546 19.9857 146.35 22.1816C144.187 24.3447 141.483 25.4263 138.238 25.4263H131.208V37.225H125.554V2.81204H138.238ZM138.238 20.1168C139.909 20.1168 141.286 19.5597 142.368 18.4454C143.449 17.2983 143.99 15.8562 143.99 14.1192C143.99 12.3821 143.449 10.9564 142.368 9.84212C141.286 8.69502 139.909 8.12147 138.238 8.12147H131.208V20.1168H138.238Z" fill="white"/>
        <path d="M180.509 37.225H173.774L160.205 20.8543V37.225H154.552V2.81204H160.205V18.2487L173.282 2.81204H180.017L166.105 19.5761L180.509 37.225Z" fill="white"/>
        <path d="M210.004 32.7022C206.563 36.1435 202.352 37.8641 197.37 37.8641C192.388 37.8641 188.16 36.1435 184.686 32.7022C181.245 29.2281 179.524 25.0002 179.524 20.0185C179.524 15.0368 181.245 10.8253 184.686 7.38405C188.16 3.90998 192.388 2.17294 197.37 2.17294C202.352 2.17294 206.563 3.90998 210.004 7.38405C213.478 10.8253 215.216 15.0368 215.216 20.0185C215.216 25.0002 213.478 29.2281 210.004 32.7022ZM188.668 28.8676C191.028 31.1945 193.929 32.358 197.37 32.358C200.811 32.358 203.695 31.1945 206.022 28.8676C208.382 26.5078 209.562 23.5581 209.562 20.0185C209.562 16.4789 208.382 13.5456 206.022 11.2186C203.695 8.85889 200.811 7.67902 197.37 7.67902C193.929 7.67902 191.028 8.85889 188.668 11.2186C186.341 13.5456 185.178 16.4789 185.178 20.0185C185.178 23.5581 186.341 26.5078 188.668 28.8676Z" fill="white"/>
        <path d="M236.645 37.8641C231.467 37.8641 227.173 36.1598 223.765 32.7513C220.356 29.31 218.652 25.0658 218.652 20.0185C218.652 14.9713 220.356 10.7434 223.765 7.33489C227.173 3.89359 231.467 2.17294 236.645 2.17294C239.758 2.17294 242.626 2.91036 245.248 4.3852C247.903 5.86005 249.968 7.85928 251.442 10.3829L246.526 13.2343C245.609 11.53 244.265 10.1862 242.495 9.20302C240.758 8.18702 238.808 7.67902 236.645 7.67902C232.974 7.67902 229.992 8.8425 227.697 11.1695C225.436 13.4964 224.305 16.4461 224.305 20.0185C224.305 23.5909 225.436 26.5406 227.697 28.8676C229.992 31.1945 232.974 32.358 236.645 32.358C238.808 32.358 240.774 31.8664 242.544 30.8832C244.314 29.8672 245.641 28.5071 246.526 26.8028L251.442 29.605C250 32.1286 247.952 34.1442 245.297 35.6518C242.675 37.1267 239.791 37.8641 236.645 37.8641Z" fill="white"/>
        <path d="M27.1335 0.0967712L0 46.0952H12.1963L39.3298 0.0967712H27.1335Z" fill="#D29970"/>
        <path d="M22.8062 56.93H80.3418L48.0735 0.132457L45.4618 4.67677L73.6978 53.2511H24.9446L22.8062 56.93Z" fill="#D29970"/>
        <path d="M89.8369 51.5123H147.867V54.3805H91.5365L89.8369 51.5123Z" fill="#D29970"/>
        <g class="logo__img-part">
        <path d="M163.155 59.6427C167.093 59.6427 170.161 56.5551 170.161 52.6165C170.161 48.6779 167.172 45.6695 163.194 45.6695C159.216 45.6695 156.188 48.7571 156.188 52.6561C156.188 56.5551 159.216 59.6427 163.155 59.6427ZM163.155 58.1385C160.047 58.1385 157.791 55.7437 157.791 52.6561C157.791 49.5686 160.047 47.1737 163.194 47.1737C166.341 47.1737 168.558 49.5092 168.558 52.6165C168.558 55.7239 166.262 58.1385 163.155 58.1385ZM163.451 56.6145C165.114 56.6145 166.4 55.8228 166.915 54.5561L164.777 53.3884C164.441 54.0218 163.986 54.2593 163.432 54.2593C162.64 54.2593 161.967 53.6853 161.967 52.6561C161.967 51.6269 162.64 51.053 163.432 51.053C163.986 51.053 164.441 51.2905 164.777 51.9238L166.915 50.7561C166.4 49.4894 165.114 48.6977 163.451 48.6977C160.977 48.6977 159.196 50.3404 159.196 52.6561C159.196 54.9718 160.977 56.6145 163.451 56.6145Z" fill="white"/>
        <path d="M177.772 46.6637L174.617 47.8017L175.289 50.1639L177.427 49.5777V58.7335H180.186V46.6637H177.772Z" fill="white"/>
        <path d="M190.882 50.6812C190.882 48.181 189.072 46.4223 186.399 46.4223C183.744 46.4223 181.916 48.181 181.916 50.6812C181.916 53.0262 183.537 54.7332 185.934 54.9229L183.313 58.7335H186.485L190.175 53.1297C190.624 52.4572 190.882 51.6123 190.882 50.6812ZM184.675 50.6812C184.675 49.6294 185.485 49.0087 186.399 49.0087C187.33 49.0087 188.123 49.6122 188.123 50.6812C188.123 51.7503 187.33 52.3538 186.399 52.3538C185.485 52.3538 184.675 51.733 184.675 50.6812Z" fill="white"/>
        <path d="M200.703 50.6812C200.703 48.181 198.893 46.4223 196.22 46.4223C193.565 46.4223 191.737 48.181 191.737 50.6812C191.737 53.0262 193.358 54.7332 195.754 54.9229L193.134 58.7335H196.306L199.996 53.1297C200.444 52.4572 200.703 51.6123 200.703 50.6812ZM194.496 50.6812C194.496 49.6294 195.306 49.0087 196.22 49.0087C197.151 49.0087 197.944 49.6122 197.944 50.6812C197.944 51.7503 197.151 52.3538 196.22 52.3538C195.306 52.3538 194.496 51.733 194.496 50.6812Z" fill="white"/>
        <path d="M207.088 51.5606L209.174 48.9052V46.6637H201.415V49.2501H205.829L203.639 52.0261L204.691 53.5952H205.26C206.398 53.5952 206.898 54.1987 206.898 54.9401C206.898 55.6816 206.398 56.2851 205.26 56.2851C204.208 56.2851 203.691 55.8023 203.415 55.0091L201.036 56.3885C201.777 58.1645 203.433 58.9749 205.26 58.9749C207.588 58.9749 209.657 57.5955 209.657 54.9401C209.657 53.2676 208.571 52.0779 207.088 51.5606Z" fill="white"/>
        <path d="M221.81 50.1122H215.775V58.7335H218.361V52.5951H221.81V50.1122Z" fill="white"/>
        <path d="M226.905 58.9749C229.44 58.9749 231.474 56.992 231.474 54.4229C231.474 51.8537 229.44 49.8708 226.905 49.8708C224.37 49.8708 222.336 51.8537 222.336 54.4229C222.336 56.992 224.37 58.9749 226.905 58.9749ZM226.905 56.4575C225.784 56.4575 224.922 55.6471 224.922 54.4229C224.922 53.1986 225.784 52.3882 226.905 52.3882C228.026 52.3882 228.888 53.1986 228.888 54.4229C228.888 55.6471 228.026 56.4575 226.905 56.4575Z" fill="white"/>
        <path d="M240.705 56.3195V50.1122H233.756V53.3366C233.756 54.8194 233.497 55.6471 233.066 56.3195H231.997V61.044H234.515V58.7335H239.308V61.044H241.825V56.3195H240.705ZM235.773 56.3195C236.101 55.5436 236.273 54.5953 236.273 53.3366V52.4227H238.187V56.3195H235.773Z" fill="white"/>
        <path d="M249.207 50.1122V50.9226C248.638 50.2674 247.793 49.8708 246.637 49.8708C244.379 49.8708 242.516 51.8537 242.516 54.4229C242.516 56.992 244.379 58.9749 246.637 58.9749C247.793 58.9749 248.638 58.5783 249.207 57.9231V58.7335H251.793V50.1122H249.207ZM247.155 56.5265C245.965 56.5265 245.103 55.7161 245.103 54.4229C245.103 53.1297 245.965 52.3193 247.155 52.3193C248.344 52.3193 249.207 53.1297 249.207 54.4229C249.207 55.7161 248.344 56.5265 247.155 56.5265Z" fill="white"/>
        </g>
        </svg>

    nav.header__nav.header__top-group
      ul.header-menu.header-menu--inline
        each item in menu
          li
            a(href="")= item

    .header__contacts.header__top-group
      ul.phone-list.phone-list--inline.phone-list--no-icons.header__phonelist
        li.phone-list__item
          a.phone-list__link(href="") +7 (495) 123-45-67
          span.phone-list__text Пн-Пт с 10:00 до 18:00
        li.phone-list__item
          a.phone-list__link(href="") 8 (800) 123-45-67
          button.accent-link(data-toggle="modal" data-target="#modal-callback") Перезвоните мне

    button.btn.btn-icon.header__burger.js-toggle-menu(aria-expanded="false" aria-label="Меню" aria-controls="mobile-nav")
      +icon('bars')

  .header-bar.header__footer
    a.header__contact(href="") 8 (800) 123-45-67
    form.form.search-form.header__search
      input.form-control.form-control--light.form-control--search.form-control--outline-light(type='text' placeholder='Поиск полезной информации')

  .header__mobile.mobile-nav.js-mobile-nav#mobile-nav
    .mobile-nav__inner
      button.close.mobile-nav__close.js-toggle-menu(type="button" aria-label="Закрыть меню")
        +icon('close')
      .mobile-nav__box
        h5.mobile-nav__title Меню
        ul.header-menu.header-menu--mobile
          each item in menu
            li
              a(href="")= item

      .mobile-nav__box
        ul.phone-list.phone-list--inline.phone-list--no-icons.mobile__phonelist
          li.phone-list__item
            a.phone-list__link(href="") +7 (495) 123-45-67
            span.phone-list__text Пн-Пт с 10:00 до 18:00
          li.phone-list__item
            a.phone-list__link(href="") 8 (800) 123-45-67
            button.accent-link(data-toggle="modal" data-target="#modal-callback") Перезвоните мне
