section.hero.bg-secondary
  .layout
    .hero__inner
      .hero__content
        h1.hero__heading
          span.hero__supertitle ООО Фирма "Аркос"
          span.hero__title Комплексное проектирование промышленных зданий и сооружений

        ul.hero__list.decor-list
          li готовые офисы и рабочие места в опенспейс
          li переговорные и площадки для мероприятий
          li функциональность и технологичность
          li гибкие условия аренды
          li гарантия качества проверенная годами

        .hero__controls
          a.btn.btn-primary(href="") Подробнее
          form.form.search-form
            .form-group
              input.form-control.form-control--outline-light.form-control--search(type='text' placeholder='Поиск полезной информации')

      img.hero__img(src="assets/img/content/schemes.jpg", alt="")
