-
  var history = [
    {
      year: '1993 г.',
      title: 'Выход на рынок недвижимости Москвы',
      text: 'Первые объекты на престижном Северо-Западе определили одну из главных ценностей компании: нашим домам – лучшие локации.',
    },
    {
      year: '1997 г.',
      title: 'Сдан первый коммерческий дом',
      text: 'Дом на Маршала Василевского и последующие жилые комплексы «Новая Звезда», «Северная Звезда», «Эльсинор», «Соколовского, 10» – наш вклад в становление бизнес-класса.',
    },
    {
      year: '1999 г.',
      title: '«Алые Паруса» - начало легенды',
      text: 'Знаковый проект – для компании и для Москвы. Здесь начинается история столичного жилья класса премиум.',
    },
    {
      year: '2000 г.',
      title: 'Сдан первый коммерческий дом',
      text: 'Дом на Маршала Василевского и последующие жилые комплексы «Новая Звезда», «Северная Звезда», «Эльсинор», «Соколовского, 10» – наш вклад в становление бизнес-класса.',
    },
    {
      year: '2005 г.',
      title: '«Алые Паруса» - начало легенды',
      text: 'Знаковый проект – для компании и для Москвы. Здесь начинается история столичного жилья класса премиум.',
    },
    {
      year: '2010 г.',
      title: 'Сдан первый коммерческий дом',
      text: 'Дом на Маршала Василевского и последующие жилые комплексы «Новая Звезда», «Северная Звезда», «Эльсинор», «Соколовского, 10» – наш вклад в становление бизнес-класса.',
    },
    {
      year: '2020 г.',
      title: '«Алые Паруса» - начало легенды',
      text: 'Знаковый проект – для компании и для Москвы. Здесь начинается история столичного жилья класса премиум.',
    },
  ]
