/* ==========================================================================
   #ABOUT
   ========================================================================== */

.about-slider {

  @include mq($from: lg) {
    box-shadow: 0px 64px 134px rgba(0, 0, 0, 0.1);
  }
}

.about-slider-buttons {

  @include mq($until: lg) {
    display: none;
  }
}

.about-slide {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  background: #fff;
}

.about-slide__img {
  position: relative;
  padding-top: percentage(180 / 290);
  overflow: hidden;

  @include mq($from: lg) {
    padding-top: percentage(320 / 420);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  }

  img {
    @include center-block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

.about-slide__body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 15px 50px;
  color: #fff;
  text-align: center;
  z-index: 5;

  @include mq($from: sm) {
    padding-bottom: 50px;
  }

  @include mq($from: lg) {
    position: static;
    padding: 40px 40px 55px 40px;
    color: $body-color;
  }
}

.about-slide__title {
  font-weight: 600;
  font-size: rem(12px);
  line-height: 1.2;

  @include mq($from: sm) {
    font-weight: normal;
    font-size: rem(18px);
  }

  @include mq($from: 1300px) {
    font-size: rem(20px);
  }
}

.about-slide__link {
  margin-top: 10px;
  font-weight: 600;
  color: $primary;

  @include mq($until: lg) {
    display: none;
  }
}

