/* ==========================================================================
   #accent-LINK
   ========================================================================== */

.accent-link {
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: rgba($primary, 0.3);
  text-underline-offset: 3px;
  transition:
    color 0.3s ease-in-out,
    text-decoration-color 0.3s ease-in-out;

  @include on-event {
    color: $primary;
    text-decoration-color: currentColor;
  }
}
