/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb-item {

  a {
    color: $body-color;
    text-decoration: underline;
    text-decoration-color: rgba($body-color, 0.1);
    text-underline-offset: 3px;

    @include on-event {
      text-decoration: none;
    }
  }
}
