/* ==========================================================================
   #CLIENTS
   ========================================================================== */

.clients {

  .home-page & {

    @include mq($until: md) {
      order: 12;
    }
  }
}

.clients__grid {
  display: flex;
  flex-direction: column;

  @include mq($from: lg) {
    flex-direction: row;
  }
}

.clients__main {
  margin-bottom: 30px;

  @include mq($from: lg) {
    width: 60%;
    margin-bottom: 0;
    padding-right: 40px;
  }
}

.clients__header {

  @include mq($from: md) {
    margin-bottom: 40px;
  }
}

.client-slider-wrapper {

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    background-color: $primary;
    transform: translate(0, calc(-50% - 15px)) skewX(-6deg);

    .svg-icon {
      transform: skewX(6deg);
    }

    @include mq($from: lg) {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

.client-slider {
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  filter: drop-shadow(0px 45px 95px rgba(0, 0, 0, 0.1));

  @include mq($from: lg) {
    margin-bottom: 40px;
    filter: drop-shadow(0px 64px 134px rgba(0, 0, 0, 0.1));
  }

  .swiper-wrapper{

    @include mq($from: lg) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      gap: 20px;
    }
  }
}

.client-slide {
  position: relative;


  @include mq($until: md) {
    max-height: 180px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    transform: skewX(-6deg);
    background-color: #fff;
    z-index: 0;
  }

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
    z-index: 0;
  }
}

.client-slide__img {
  @include center-block;
  max-width: 56%;
  max-height: 56%;
  z-index: 1;

}

.clients__order {
  width: 100%;

  @include mq($from: md) {
    max-width: 270px;
  }
}

.clients__aside {

  @include mq($from: lg) {
    width: 40%;
    padding: 24px 0 24px 40px;
    border-left: 1px solid #F0F0F0;
  }
}

.clients__seo {

  .seo-box__scroll {
    max-height: 520px;
  }
}

