/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background-color: $brand-blue;
  z-index: 1000;
}

.header--transparent {
  background-color: transparent;
}

.header-bar {
  padding-left: 15px;
  padding-right: 15px;

  @include mq($from: 1600px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.header__top {
  position: relative;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10;
  background-color: $secondary;

  @include mq($from: 1300px) {
    padding-top: 28px;
    padding-bottom: 18px;
    justify-content: space-between;
  }

  > *+* {

    @include mq($until: 1300px) {
      margin-left: 32px;
    }
  }
}

.header__top-group {
  display: flex;

  > *+* {
    margin-left: 40px;
  }
}

.header__top-group--first {

  @include mq($until: 1300px) {
    margin-right: auto;
  }
}

.header__logo {

  .logo__img {
    width: auto;
    height: 40px;

    @include mq($from: lg) {
      height: 60px;
    }

    @include mq($from: 1800px) {
      height: 80px;
    }
  }

  .logo__img-part {
    display: none;

    .header--transparent & {
      display: block;
    }
  }
}

.header__nav {

  @include mq($until: 1300px) {
    display: none;
  }
}

.header-menu {
  @include list-unstyled;

  a {
    display: block;
    padding-top: 15px;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    font-size: 18px;
    line-height: 1.15;
    color: inherit;
    transition:
      color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    @include on-event {
      color: $primary;
      border-color: currentColor;
      text-decoration: none;
    }

    @include mq($from: 1800px) {
      font-size: 20px;
    }
  }
}

.header-menu--inline {
  display: flex;

  a {

    @include mq($until: xl) {
      font-size: 16px;
    }
  }

  > *+* {
    margin-left: 24px;

    @include mq($from: xl) {
      margin-left: 30px;
    }

    @include mq($from: 1920px) {
      margin-left: 56px;
    }
  }
}

.header-menu--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > *+* {
    margin-top: 25px;
  }

  a {
    padding: 0;
  }
}

.header__contacts {

  @include mq($until: md) {
    display: none;
  }
}

.header__phonelist {
  flex-wrap: nowrap;
  margin-bottom: 0;

  > *+* {

    @include mq($from: 1920px) {
      margin-left: 50px;
    }
  }

  .phonelist__link {
    font-size: 18px;

    @include mq($from: xl) {
      font-size: 20px;
    }

    @include mq($from: 1920px) {
      font-size: 25px;
    }
  }

  .phonelist__text {

    @include mq($until: xl) {
      font-size: 14px;
    }
  }

  .accent-link {
    font-size: 16px;

    @include mq($from: 1800px) {
      font-size: 20px;
    }
  }
}

.header__burger {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 22px;
  color: #fff;
  background-color: $primary;

  @include basic-transition((color));

  @include mq($from: 1300px) {
    display: none;
  }

  .svg-icon {
    @include center-block;
  }
}

.header__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;

  @include mq($from: lg) {
    display: none;
  }
}

.header__contact {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.15;
  color: inherit;

  @include basic-transition((color));

  @include mq($from: md) {
    display: none;
  }
}

.header__search {
  width: 100%;

  .form-control--search {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    background-color: rgba(#fff, 0.1);
  }
}

.header__mobile {
  z-index: 5;
}
