/* ==========================================================================
   #MOBILE-NAV
   ========================================================================== */

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  background: $secondary;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;

  @include basic-transition((opacity, transform, visibility));

  &--open {
    visibility: visible;
    transform: none;
    opacity: 1;
  }
}

.mobile-nav__inner {
  position: relative;
  height: 100%;
  padding: 20px;
  background-color: rgba(#fff, 0.05);
}

.mobile-nav__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  opacity: 0.2;

  @include basic-transition((opacity));
  @include on-event {
    color: #fff;
    opacity: 1;
  }
}

.mobile-nav__box {

  + .mobile-nav__box {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(#fff, 0.1);
  }
}

.mobile-nav__title {
  margin-bottom: 30px;
  font-size: rem(24px);
}

.mobile__phonelist {
  display: flex;
  margin-bottom: 0;

  > *+* {
    margin-left: 1rem;
  }

  .phone-list__link {
    font-size: 16px;
  }

  .phone-list__text {
    font-size: 13px;
  }

  .accent-link {
    font-size: 13px;
  }
}
