/* ==========================================================================
   #NEWS
   ========================================================================== */

.news {

}

.news-grid {
  display: grid;
  grid-gap: 20px;
  gap: 20px;

  @include mq($from: sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq($from: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq($from: lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  box-shadow: drop-shadow(0px 10px 40px rgba(38, 38, 38, 0.05)), drop-shadow(0px 2px 4px rgba(38, 38, 38, 0.02));

  &:nth-child(1) {

    @include mq($from: lg) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;

      .news-card__img::before {
        padding-top: percentage(440 / 690);
      }

      .news-card__body {
        padding: 40px;
      }

      .news-card__date {
        display: none;
      }

      .news-card__title {
        margin-bottom: 1.25rem;
        font-size: 30px;
        text-transform: uppercase;

        @include ellipsis(30px, 1.2, 2);
      }

      .news-card__text {
        margin-top: 0;
        @include ellipsis(18px, 1.6, 11);
      }
    }
  }
}

.news-card__img {
  flex-shrink: 0;
  border-radius: 3px 3px 0 0;

  &::before {
    padding-top: percentage(235 / 335);
  }
}

.news-card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.news-card__date {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: rem(10px);
  line-height: 1;
  color: $gray-600;

  @include mq($from: sm) {
    font-size: rem(14px);
  }
}

.news-card__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  @include ellipsis(16px, 1.2, 2);

  @include mq($from: sm) {
    font-size: 18px;
    @include ellipsis(18px, 1.2, 2);
  }
}

.news-card__text {
  margin-top: auto;

  @include mq($until: sm) {
    @include ellipsis(12px, 1.4, 4);
  }

  @include mq($from: sm) {
    @include ellipsis(16px, 1.4, 4);
  }

}
