/* ==========================================================================
   #PAPERS
   ========================================================================== */

.papers__header {
  margin-bottom: 20px;
  padding-bottom: 15px;

  @include mq($from: md) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .section__subtitle {
    max-width: 760px;
  }
}

.papers__grid {
  display: grid;
  grid-gap: 30px;

  @include mq($from: md) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq($from: lg) {
    grid-template-columns: 2fr 3fr;
  }
}

.papers__grid-col {

  h3 {
    margin-bottom: 1rem;
    font-size: rem(18px);

    @include mq($from: md) {
      margin-bottom: 2rem;
      font-size: rem(26px);
    }
  }

  ul {
    @extend .decor-list;
    margin-bottom: 0;

    > *+* {
      margin-top: rem(12px);

      @include mq($from: md) {
        margin-top: 1rem;
      }
    }
  }
}

