/* ==========================================================================
   #PRICE
   ========================================================================== */

.price {
  position: relative;
  z-index: 1;
}

.price-box {
  padding: 30px 20px;

  @include mq($from: md) {
    padding: 40px;
  }

  @include mq($from: lg) {
    padding: 60px;
  }

  @include mq($from: xl) {
    padding: 80px;
  }
}

.price-box__title {
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: rem(26px);

  @include mq($from: sm) {
    font-size: rem(32px);
  }

  @include mq($from: md) {
    margin-bottom: 1.25rem;
    font-size: rem(40px);
  }

  @include mq($from: lg) {
    font-size: rem(50px);
  }
  @include mq($from: xl) {
    font-size: rem(60px);
  }
}

.price-box__text {
  margin-bottom: 20px;

  @include mq($from: md) {
    margin-bottom: 30px;
  }
}

.price-box__subheading {
  margin-bottom: 1rem;
  font-size: 1rem;

  @include mq($from: md) {
    margin-bottom: 1.25rem;
    font-size: rem(26px);
  }
}

.price-box__decor-list {

  > *+* {
    margin-top: 10px;

    @include mq($from: md) {
      margin-top: 20px;
    }
  }
}

