/* ==========================================================================
   #SOCIAL
   ========================================================================== */

.social {
  display: flex;
  flex-wrap: wrap;
  @include list-unstyled;
}

.social__item {
  margin-right: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 1.5px;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;

  .social--light & {
    color: #fff;
    background-color: rgba(#fff, .1);

    @include on-event {
      color: #fff;
      text-decoration: none;
      background-color: rgba(#fff, .25);
    }
  }

  .svg-icon {
    @include center-block;
  }
}
