/* ==========================================================================
   #STAT-LIST
   ========================================================================== */


.stat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
  @include list-unstyled;
}

.stat-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: rem(12px);
  line-height: 1.15;

  @include mq($until: sm) {
    width: min-content;
  }

  @include mq($from: md) {
    font-size: 1rem;
  }

  @include mq($from: xl) {
    font-weight: 600;
    font-size: rem(18px);
  }
}

.stat-item__value {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-shadow: 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05);

  @include mq($from: lg) {
    font-weight: 300;
    font-size: 60px;
  }
  @include mq($from: xl) {
    font-size: 80px;
  }
}
