/* ==========================================================================
   #TOP-BLOCK
   ========================================================================== */

.top-block {
  position: relative;
  background-repeat: no-repeat;
  background-position:
    left 0 top 0,
    right 0 top 0;
  background-size: 0;

  @include mq($from: lg) {
    background-size: 0, auto 100%;
  }

  @include mq($from: 1800px) {
    background-size: auto 100%;
  }
}

.top-block--projects {
  background-color: $gray-100;
}

.top-block__inner {
  display: flex;
  flex-direction: column;

  @include mq($from: lg) {
    min-height: 470px;
    flex-direction: row;
    align-items: center;
  }

  .top-block--projects & {
    min-height: auto;
  }
}

.top-block__main {
  width: 100%;

  @include mq($from: lg) {
    width: 58%;
  }

  .top-block--projects & {
    width: 100%;
  }
}

.top-block__nav {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin-bottom: 10px;
    line-height: 1.7;

    @include mq($until: sm) {
      font-size: rem(12px);
    }

    @include mq($from: lg) {
      font-size: rem(24px);
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include mq($from: md) {
        margin-right: 50px;
      }
    }
  }
}

.top-block__title {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: rem(24px);
  text-transform: uppercase;

  @include mq($from: sm) {
    font-size: rem(32px);
  }
  @include mq($from: md) {
    font-size: rem(40px);
  }
  @include mq($from: lg) {
    font-size: rem(50px);
  }
  @include mq($from: xl) {
    font-size: rem(60px);
  }
}

.top-block__excerpt {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: rem(12px);

  @include mq($from: sm) {
    font-size: 1rem;
  }

  @include mq($from: lg) {
    display: none;
  }
}

.top-block__desc {
  display: none;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @include mq($from: lg) {
    display: block;
    font-size: rem(20px);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.top-block__files {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  column-gap: 10px;
  max-width: 475px;
  margin-top: 15px;

  @include mq($from: sm) {
    margin-top: 30px;
    grid-column-gap: 35px;
    column-gap: 35px;
  }
}

.top-block__file {
  display: grid;
  grid-gap: 10px;
  gap: 10px;
  justify-items: center;
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-weight: bold;
  font-size: rem(10px);
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
  background-color: $primary;

  @include mq($from: sm) {
    grid-template-columns: min-content min-content;
    grid-gap: 20px;
    gap: 20px;
    padding: 20px;
    font-size: rem(14px);
    text-align: left;
    justify-items: start;
    align-items: center;
  }

  @include on-event {
    color: #fff;

  }
}

.top-block__file-img {
  display: block;
  width: auto;
  height: 40px;
}

.top-block__aside {


  @include mq($until: lg) {
    width: 100%;
    order: -1;
    margin-bottom: 15px;
  }

  .top-block--about & {

    @include mq($from: lg) {
      width: 420px;
      margin-left: 64px;
    }
  }
}

.top-block__img {
  position: relative;
  max-height: 350px;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: percentage(180 /290);
  }

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}
