.content-zone {
  overflow-wrap: break-word;

  h2, h3 {
    font-size: rem(18px);

    @include mq($from: md) {
      font-size: rem(26px);
    }
  }

  h3 {
    font-size: rem(17px);

    @include mq($from: md) {
      font-size: rem(24px);
    }
  }

  h4, h5, h5 {
    font-size: rem(16px);

    @include mq($from: md) {
      font-size: rem(20px);
    }
  }

  h2, h3, h4, h5, h6 {

    &:not(:first-child) {
      margin-top: rem(20px);

      @include mq($from: md) {
        margin-top: rem(40px);
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(15px);

      @include mq($from: md) {
        margin-bottom: rem(20px);
      }
    }
  }

  p {

    @include mq($until: sm) {
      font-size: rem(12px);
    }

    @include mq($from: lg) {
      font-size: rem(18px);
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    small {
      display: block;
      font-size: 0.75em;
    }
  }

  blockquote {
    position: relative;
    display: block;
    padding-left: rem(40px);
    border-left: 3px solid $primary;
    font-weight: 500;
    font-size: rem(20px);
    font-style: italic;


    &:not(:first-child) {
      margin-top: rem(40px);
    }

    &:not(:last-child) {
      margin-bottom: rem(40px);
    }

    p {
      font-size: inherit;
    }

  }

  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  figure {

    &:not(:first-child) {
      margin-top: rem(40px);
    }

    &:not(:last-child) {
      margin-bottom: rem(40px);
    }
  }

  >ul:not([class]),
  >ol:not([class]) {

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  ul:not([class]),
  ol:not([class]) {

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  ul:not([class]) {

    li {

      &::before {
        content: '•';
        padding-right: 12px;
      }
    }
  }

  ol:not([class]) {
    counter-reset: list1;

    li {

      &::before {
        counter-increment: list1;
        content: counter(list1) '.';
        padding-right: 12px;
      }
    }
  }

  ul:not([class]),
  ol:not([class]) {

    li+li {
      margin-top: 0.5rem;
    }
  }

}
